$themecolor: #a51463;
$themecolorw: #a51463;
page-registrationchoice {
    ion-header ion-navbar .toolbar-background {
        background: $themecolor;
    }
    .registerchoice{
        width: 100vw;
        height: 90vh;
        display: table-cell;
        vertical-align: middle;
    }
    .registerchoice button{
        background: #ffffff !important;
        color: $themecolor !important;
        border: 2px solid $themecolor !important;
        font-size: 18px !important;
      }
}
