$themecolor: #a51463;
$themecolorw: #a51463;
page-registrationchoice {
   
    ion-header ion-navbar .toolbar-background {
        background: $themecolor;
    }
    .registerchoice{
        width: 100vw;
        height: 90vh;
        display: table-cell;
        vertical-align: middle;
    }
    .registerchoice h3{
        font-weight: 700;
    }
    .registerchoice button{
        background: #ffffff !important;
        color: #a51463 !important;
        border: none !important;
        font-size: 20px !important;
        font-weight: 700;
      }
      .registerchoice img{
        margin-bottom: 20px;
        margin-top: 40px;
      }
}
