page-changebillinginfo{
    $themecolor: #38d345;
    $themecolorw: #38d345;
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #d4dcdf !important;
        background-color: transparent;
    }
    .inputfieldchange{
        padding-top: 0 !important;
        padding-bottom: 2px !important;
    }
    .changeprofileheader {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .inputfieldpara{
        font-size: 16px;
        padding-top: 5px;
    }
}