$themecolor: #38d345;
$themecolorw: #38d345;
$fontfamily:'Montserrat', sans-serif;
$gradiantcolor:linear-gradient(45deg, #39a02b 0%,#31b247 41%,#3ad83a 70%,#42f44e 100%);
button{
  border-radius:45px !important; 
  background: $themecolor !important;
  box-shadow: none !important;
  // background: $gradiantcolor !important;
  // font-weight: 700 !important;
  // box-shadow: 1px 1px 2px #444 !important;
}
button span{
    // background: -webkit-linear-gradient(#8a8787, #131212);
    // -webkit-background-clip: text;
    // -webkit-text-fill-color: transparent;
    // font-weight: 700 !important;
    // font-size: 18px !important;
}
ion-item{
    border: 2px solid $themecolor !important;
    border-radius: 45px !important;
    margin-bottom: 10px !important;
    height: 45px;
    // box-shadow: 1px 1px 2px #444 !important;
}
.item-inner{
  // padding-left: 10px;
  border-bottom: 0 !important;
}
ion-label {
    color: white !important;
    background: $themecolor !important;
    padding: 13px;
    margin: 0 !important;
    margin-right: 10px !important;
}
// ion-title .toolbar-title{
//   background: -webkit-linear-gradient(#38d345, #048820);
//     -webkit-background-clip: text;
//     -webkit-text-fill-color: transparent;
// }
// h3{
//   background: -webkit-linear-gradient(#8a8787, #000000);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-weight: 700;
// }
.scroll-content{
//  background: url('../../assets/imgs/bgimg.png');
//   background-size: 100% 100%;
padding: 25px !important;
}
.input-wrapper ion-label ion-icon {
  font-size: 25px;
}
.registerchoice button{
  background: white !important;
  color: $themecolor !important;
  border: 2px solid $themecolor !important;
  font-size: 18px !important;
}
ion-checkbox button{
  border: none !important;
  color: unset !important;
  background: unset !important;
  height: 60px !important;
}
page-login {
 #loginpage ion-label{
    color: $themecolorw;
}
#loginpage ion-title .toolbar-title {
    color: $themecolorw;
    font-weight: 700;
    font-size: 24px;
}
#loginpage button{
    background-color: $themecolor;
    color:#fff;
    border-radius: 0px;
    box-shadow: unset;
    height: 48px;
}
#loginpage button span{
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}

#loginpage span {
  color: $themecolorw;
  font-weight: 700;
  font-size: 17px;

}
#loginpage p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
}

 #loginpage ion-item .item-inner {

   border-bottom: 2px solid $themecolor;
 }
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: $themecolor;

  -webkit-box-shadow: inset 0 -1px 0 0 $themecolor;

  box-shadow: inset 0 -1px 0 0 $themecolor;

}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: $themecolor;

  -webkit-box-shadow: inset 0 -1px 0 0 $themecolor;

  box-shadow: inset 0 -1px 0 0 $themecolor;

}
.marginset .text-input {
  margin: 0;
  // margin-bottom: 0;
  // margin-left: 0;
}

 #loginpage ion-spinner {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  right: 10px;
  top:10px;
}
.scroll-content {
      overflow-y: hidden !important;
}
.sociallogin{
  text-align: center;
  padding-top: 50px;
  // font-size: 30px;
  font-size: 30px !important;
  color: $themecolorw;
}
}




   
