$themecolor: #a51463;
$themecolorw: #a51463;
$fontfamily:'Montserrat', sans-serif;
button{
  border-radius:45px !important; 
  background: $themecolor !important;
  // box-shadow: none !important;
  box-shadow: 2px 2px 6px 2px #444 !important;
}
ion-item{
    border: 2px solid $themecolor !important;
    border-radius: 45px !important;
    margin-bottom: 10px !important;
    height: 45px;
}
.item-inner{
  border-bottom: 0 !important;
}
ion-label {
  color: white !important;
  background: #a51463 !important;
  padding: 13px 0;
  margin: 0 !important;
  text-align: center;
  width: 50px;
}
.scroll-content{
padding: 25px;
}
.input-wrapper ion-label ion-icon {
  font-size: 25px;
}
.registerchoice button{
  background: #ffffff !important;
  color: #909695 !important;
  // border: 2px solid #909695 !important;
  font-size: 18px !important;
}
ion-checkbox button{
  border: none !important;
  color: unset !important;
  background: unset !important;
  height: 60px !important;
}
page-login {
 #loginpage ion-label{
    color: $themecolorw;
}
#loginpage ion-title .toolbar-title {
    // color: $themecolorw;
    font-weight: 700;
    font-size: 24px;
}
#loginpage button{
    background-color: $themecolor;
    color:#fff;
    border-radius: 0px;
    box-shadow: unset;
    height: 48px;
}
#loginpage button span{
  color: #fff;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
}

#loginpage span {
  color: $themecolorw;
  font-weight: 700;
  font-size: 17px;

}
#loginpage p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 0;
}
 #loginpage ion-item .item-inner {
   border-bottom: 2px solid $themecolor;
 }
.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
  border-bottom-color: $themecolor;
  -webkit-box-shadow: inset 0 -1px 0 0 $themecolor;
  box-shadow: inset 0 -1px 0 0 $themecolor;
}
.list-md .item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child,
.list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus):last-child {
  border-bottom-color: $themecolor;
  -webkit-box-shadow: inset 0 -1px 0 0 $themecolor;
  box-shadow: inset 0 -1px 0 0 $themecolor;
}
.marginset .text-input {
  margin: 0;
}
 #loginpage ion-spinner {
  position: absolute;
  display: inline-block;
  width: 28px;
  height: 28px;
  right: 10px;
  top:10px;
}
.sociallogin{
  text-align: center;
  // padding-top: 20px;
  font-size: 30px !important;
  color: $themecolorw;
}
}




   
