<ion-header>

  <ion-navbar>
    <ion-title>Reviews</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-card  *ngFor="let row of reviewlist" style="    border-radius: 10px;">
      <ion-card-header style="background-color: #ae2b72;">
        <div>
          <p style="font-size:16px;font-weight:600;color:#fff;">{{row.SchoolName}}</p>
          <p style="font-size:13px;font-weight:300;color:#fff;">Ratings : {{row.Rating}} star</p>
        </div>
      </ion-card-header>
      <ion-card-content padding>
        {{row.Text}}
      </ion-card-content>
    </ion-card>
    <ion-row *ngIf="reviewlist=='' || reviewlist==null">
      <ion-col col-12 text-center >
          <img src="../../assets/imgs/hold.png" alt="" padding>
          <p padding>No Reviews Found.</p>
      </ion-col>
  </ion-row>
</ion-content>
<!-- <div class="addreviews" (click)="addreviewpage()">
    <ion-icon name="add-circle"></ion-icon>
</div> -->
