$themecolor: #a51463;
$themecolorw: #a51463;
page-listreview {
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    .toolbar-title {
        color: $themecolor !important;
    }
    .toolbar-background{
        background: #fff;
    }
    .menubtn {
        box-shadow: none !important;
        background: #fff !important;

    }
    .menubtn ion-icon{
        color: $themecolor !important;
    }
    button.back-button {
        background: #fff !important;
    }
    button.back-button ion-icon{
        color: $themecolor !important;
    }
    .addreviews{
        position: fixed;
    right: 10px;
    bottom: 5px;
    color: black;
    z-index: 999;
    ion-icon{
        color: #ae2b72;
        font-size: 60px;
    }
    }
    
}
