page-changepassword{
    $themecolor: #38d345;
    $themecolorw: #38d345;
    .scroll-content{
        overflow: hidden;
    }
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #d4dcdf !important;
        background-color: transparent;
    }
}