<ion-header>
  <p  text-left><span (click)="back()">Back</span><span (click)="skip()" float-right >Skip</span></p>
</ion-header>
<ion-content padding id="registerpage" text-center>
    <img src="../../assets/imgs/step3.png" alt="" width="60%" padding>
    <div class="registerchoice">
      <h3 text-center>Please Upload School Logo</h3>
      <img *ngIf="logo==''" src="../../assets/imgs/defaultschool.png" alt="" class="schoollogo">
      <img *ngIf="baseLogo!=''" [src]="baseLogo" alt="" class="schoollogo">
      
      <button ion-button block class="uploadbtn" (click)="uploadPhoto()">UPLOAD LOGO</button>
    </div>
    <button ion-button block class="registerbtn colfaded" (click)="schoolregister3()">NEXT</button>
  </ion-content>
