$themecolor: #a51463;
$themecolorw: #a51463;
page-editprofile {
    .btnstyling{
        margin-top: 10px;
    }
    ion-item {
        padding-left: 0 !important;
    }
    ion-label {
        font-size: 20px !important;
        font-weight: 700;
        color: $themecolor !important;
    }
    ::placeholder{
        color:black !important;
        font-weight: 600;
    }
    .scroll-content {
        background: #eaeaea;
        margin-bottom: 66px;
    }
    .changepswddiv{
        padding: 0;
        background: white;
        border-radius: 5px;
        float: left;
        width: 100%;
    }
    .changepswddiv ion-item ion-input{
        height:30px;
        font-size: 17px !important;
        font-weight: 700 !important;
    }
    .changepswddiv ion-item .item-inner{
        padding-left: 15px;
    }
    .checkbox .checkbox-checked {
        border-color: #09a546;
        background-color: #09a546;
    }
    .item .checkbox {
        padding: 14px 16px 8px 2px !important;
        margin: 0 !important;
        border-bottom: 0.55px solid #c8c7cc;
    }
    .penabs{
        position: absolute;
        right: 25%;
        background: #a51463;
        padding: 8px;
        border-radius: 65px;
        bottom: 50%;
        width: 40px;
        height: 40px;
    }
    .imgprofile{
        position: relative;
    }
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    ion-item {
        border: none !important;
        border-radius: 0 !important;
        margin-bottom: 10px !important;
        height: 45px;
    }
    ion-label {
        color: $themecolor !important;
        background: #fff !important;
        padding: 0;
        margin: 0 !important;
        text-align: left;
        width: auto;
        padding-bottom: 10px;
    }
    ion-label ion-icon{
        font-size: 30px !important;
        margin-right: 5px;
    }
    .txtbig{
        font-size: 16px !important;
        font-weight: 600;
    }
    .scroll-content {
        padding: 0px; 
    }
    .imgprofile {
        position: relative;
        background: #fff;
    }
    ion-item.item {
        border-bottom: 2px solid #c3b8be !important;
        margin-bottom: 0 !important;
        padding-bottom: 0px !important;
        float: left;
        width: 100%;
        height: 90px;
        padding-top: 10px;
        padding-bottom: 10px !important;
    
    }
    ion-input{
        font-weight: 700;
    }
    .imgprofile {
        border-bottom: 2px solid #c3b8be;
    }
    .userdata p:nth-child(1){
        font-size: 20px;
        font-weight: 700;
        color: #a51463;
    }
    .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
        box-shadow: none !important;
    }
    .footerabs{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background: white;
    }
    ion-select button {
        border-radius: 45px !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}
