$themecolor: #38d345;
$themecolorw: #38d345;
page-editprofile {
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #d4dcdf !important;
        background-color: transparent;
    }
    .profileimg {
        width: 120px;
        height: 120px;
        border: 3px solid white;
        border-radius: 80px;
        margin: auto;
        float: unset;
        margin-top: 15px;
        overflow: hidden;
    }
    .editprofilebtn{
        background-color: #ef4e34;
        color: #fff;
        border-radius: 0px;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        height: 30px;
        text-transform: capitalize;
    }
    .viewsubsc{
        background-color: #1b4da7;
        color: #fff;
        border-radius: 0px;
        -webkit-box-shadow: unset;
        box-shadow: unset;
        height: 30px;
        text-transform: capitalize;
    
    }
    .homelobbytxt .item-inner {
        border-bottom: none !important;
    }
    
    
    .action-sheet-title {
        color: white !important;
        text-transform: uppercase;
        background-color: #ab3d21;
        text-align: center !important;
        justify-content: center !important;
    }
    .action-sheet-md .action-sheet-group {
        background: #143a7b;
        padding-top: 0 !important;
    
    }
    .action-sheet-button {
        color: white !important;
        border-bottom: 1px solid slategray;
        background-color: #0f2f64 !important;
    }
    button.action-sheet-cancel {
        border-bottom: none;
        color: #a53f18 !important;
        font-size: 20px !important;
        font-weight: bold;
        text-align: center !important;
        justify-content: center;
    }
    button.action-sheet-cancel .button-inner{
        justify-content: center !important;
    }
    .action-sheet-ios .action-sheet-title {
        padding: 1.5rem;
        text-align: center;
        border-radius: 0;
        border-bottom: 0.55px solid #d6d6da;
        font-size: 16px;
        font-weight: 400;
        color: #8f8f8f;
    }
    .action-sheet-ios .action-sheet-button {
        margin: 0;
        padding: 18px;
        min-height: 5.6rem;
        border-bottom: 0.55px solid #d6d6da;
        font-size: 16px;
        color: #007aff;
        background: transparent;
    }
    .action-sheet-button span.button-inner {
        justify-content: center !important;
    }
}
