<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title>EDIT PROFILE</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="profileList.Usertype=='School'" class="imgprofile" text-center padding>
      <img *ngIf="(profileList.LogoPath=='' || profileList.LogoPath==null ) && baseLogo==''" src="../../assets/imgs/profileimg.jpg" alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <img *ngIf="(profileList.LogoPath!='' && profileList.LogoPath!=null) && profileList.Usertype=='School' && baseLogo==''" [src]="profileList.LogoPath" alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <img *ngIf="baseLogo!=''" [src]="getImgContent()"  alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <div class="penabs" style="transition-delay: 0s; transition-property: none;">
          <img (click)="uploadPhoto()" src="../../assets/imgs/penimg.png">    
      </div>
      <div padding class="userdata">
          <p no-margin>{{profileList.UserName}}</p>
          <p no-margin>{{profileList.PhoneNumber}}</p>
          <p no-margin>{{profileList.Email}}</p>
      </div>
      
      <!-- <p text-right>Change Password</p> -->
    </div>
  <div *ngIf="profileList.Usertype!='School'" class="imgprofile" text-center padding>
      <img *ngIf="(profileList.ImagePath=='' || profileList.ImagePath==null ) && baseLogo==''" src="../../assets/imgs/profileimg.jpg" alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <img *ngIf="(profileList.ImagePath!='' && profileList.ImagePath!=null) && profileList.Usertype!='School' && baseLogo==''" [src]="profileList.ImagePath" alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <img *ngIf="baseLogo!=''" [src]="getImgContent()"  alt="" style="border-radius: 50%;width: 150px;height: 150px;">
      <div class="penabs" style="transition-delay: 0s; transition-property: none;">
          <img (click)="uploadPhoto()" src="../../assets/imgs/penimg.png">    
      </div>
      <p>{{profileList.UserName}}</p>
      <p>{{profileList.PhoneNumber}}</p>
      <p>{{profileList.Email}}</p>
    </div>
  <div class="changepswddiv" *ngIf="profileList!=''&& profileList.Usertype=='School'">
      <!-- <ion-item >
          <ion-label stacked><ion-icon name="md-person"></ion-icon> Username</ion-label>
          <ion-input type="text" value="{{profileList.UserName}}" [disabled]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-call"></ion-icon> Phone</ion-label>
          <ion-input  type="text" value="{{profileList.PhoneNumber}}" [disabled]="true"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-mail"></ion-icon> Email</ion-label>
          <ion-input  type="text" value="{{profileList.Email}}" [disabled]="true"></ion-input>
        </ion-item> -->
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-school"></ion-icon> School Name</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.SchoolName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-add"></ion-icon> Details</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.Details"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-home"></ion-icon> Visiting Address 1</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.VisitingAddress1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-home"></ion-icon> Visiting Address 2</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.VisitingAddress2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-bus"></ion-icon> Visiting City</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.VisitingCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-mail-open"></ion-icon> Visiting PostalCode</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.VisitingPostalCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-card"></ion-icon> Govt Issued ID</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.GovtIssuedID"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-home"></ion-icon> Billing Address 1</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.BillingAddress1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="ios-home"></ion-icon>BillingAddress2</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.BillingAddress2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-bus"></ion-icon> Billing City</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.BillingCity"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-mail-open"></ion-icon>Billing PostalCode</ion-label>
          <ion-input  type="text" [(ngModel)]="profileList.BillingPostalCode"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label  stacked><ion-icon name="md-mail-open"></ion-icon> Billing Country</ion-label>
           <!-- <ion-select [(ngModel)]="user.VisitingCountry">
        <ion-option value="Pakistan">Pakistan</ion-option>
        <ion-option value="England">England</ion-option>
        <ion-option value="Sweden">Sweden</ion-option>
        <ion-option value="Germany">Germany</ion-option> 
      </ion-select> -->
          <ion-input  type="text" [(ngModel)]="profileList.BillingCountry"></ion-input>
        </ion-item>
        <ion-col col-6 float-left>
          <button  (click)="goHome()" ion-button full class="btnstyling" style="background:#a19f9f !important;">CANCEL</button>
      </ion-col>
      <ion-col col-6 float-left>
          <button ion-button full class="btnstyling"  (click)="updateSchool()">UPDATE</button>
      </ion-col>
  </div>


  <div class="changepswddiv" *ngIf="profileList!=''&& profileList.Usertype=='Teacher'">
    <ion-item >
      <ion-label stacked>User Name</ion-label>
      <ion-input type="text" value="{{profileList.UserName}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  stacked>First Name</ion-label>
      <ion-input  type="text" [(ngModel)]="profileList.FirstName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  stacked>Last Name</ion-label>
      <ion-input  type="text" [(ngModel)]="profileList.LastName"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  stacked>Phone</ion-label>
      <ion-input  type="text" value="{{profileList.PhoneNumber}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label  stacked>Email</ion-label>
      <ion-input  type="text" value="{{profileList.Email}}" [disabled]="true"></ion-input>
    </ion-item>
    <ion-col col-6 float-left>
      <button (click)="goHome()" ion-button full class="btnstyling" style="background:#a19f9f !important;">CANCEL</button>
  </ion-col>
  <ion-col col-6 float-left>
      <button ion-button full class="btnstyling" (click)="updateTeacher()">UPDATE</button>
  </ion-col>
  </div>
</ion-content>