$themecolor: #a51463;
$themecolorw: #a51463;
page-addreview {
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    .toolbar-title {
        color: $themecolor !important;
    }
    .toolbar-background{
        background: #fff;
    }
    .menubtn {
        box-shadow: none !important;
        background: #fff !important;

    }
    .menubtn ion-icon{
        color: $themecolor !important;
    }
    button.back-button {
        background: #fff !important;
    }
    button.back-button ion-icon{
        color: $themecolor !important;
    }
    ion-select button {
        border-radius: 45px !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
}
// .alert-radio-icon{
//     border-radius: 0 !important;
//     border: none !important;
//     height: 40px !important;
//     width: 40px !important;
//     background-size: 40px 40px !important;
//     background-repeat: no-repeat ;
// }

//     [id^="alert-input-"][id$="-0"] .alert-radio-icon{
//         background-image: url("../../assets/icon/star.png") !important;
//     }
//      [id^="alert-input-"][id$="-1"] .alert-radio-icon{
//         background-image: url("../../assets/icon/star.png") !important;
//     }
//     .alert-radio-inner{
//         background-color: transparent !important;
//     }