<ion-header>
  <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title> <img src="../../assets/imgs/myprofileimg.png" alt="" width="50px" height="50px"> {{chatusername}}</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-row class="chat">
    <ion-col col-12 *ngFor="let chat of chats" style="padding-bottom: 0;">
      <div class="chatcolleft" *ngIf="chat.user !== nickname">
        <p class="chatmsg_left">{{chat.message}}</p>
        <p class="msg-date msg-date_left">{{chat.sendDate | date:'short'}}</p>
      </div>
      <div class="chatcolright" *ngIf="chat.user === nickname">
        <p class="chatmsg_right">{{chat.message}}</p>
        <p class="msg-date msg-date_right">{{chat.sendDate | date:'short'}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
<ion-footer [style.margin-bottom]="btnmargin" style="background:white;">
  <ion-col col-10 float-left class="input_div">
    <ion-input type="text" (ionBlur)="keyboardCheck()" (ionFocus)="keyboardCheck()" placeholder="Type a message" [(ngModel)]="data.message" name="message"></ion-input>
  </ion-col>
  <ion-col col-2 class="sendbtn" (click)="sendMessage()" float-left text-center>
    <ion-icon name="paper-plane" class="send_icon"></ion-icon>
  </ion-col>
</ion-footer>