<ion-header>
  <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Booking List</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list *ngIf="bookinglist!=''">
    <ion-item no-padding *ngFor="let blist of bookinglist">
      <ion-thumbnail item-start>
        <img *ngIf="blist.ImagePath=='teachers4.jpg' || blist.ImagePath=='' || blist.ImagePath==null" src="../../assets/imgs/profileimg.jpg" width="30px" height="30px">
        <img *ngIf="blist.ImagePath!='teachers4.jpg' && blist.ImagePath!='' && blist.ImagePath!=null" [src]="logopath+blist.ImagePath" width="30px" height="30px">
      </ion-thumbnail>
      <h2 *ngIf="blist.SchoolId==userDetail.Id">{{blist.TeacherName}}</h2>
      <h2 *ngIf="blist.TeacherId==userDetail.Id">{{blist.SchoolName}}</h2>
      <button ion-button clear item-end *ngIf="blist.isBlocked=='false'" (click)="block(blist.Id,'true')">Block</button>
      <button ion-button clear item-end *ngIf="blist.isBlocked=='true'" (click)="block(blist.Id,'false')">Unblock</button>
      <!-- <button ion-button clear item-end (click)="book(blist.blockedID)">Book</button> -->
    </ion-item>
  </ion-list>
  <ion-row *ngIf="bookinglist=='' || bookinglist==null">
    <ion-col col-12 text-center >
        <img src="../../assets/imgs/hold.png" alt="" padding>
        <p padding>No List Found.</p>
    </ion-col>
  </ion-row>
</ion-content>
