<ion-header>
  <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Booking List</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngIf="bookinglist!='' && Role==6">
    <ion-item no-padding *ngFor="let blist of bookinglist">
      <ion-thumbnail item-start (click)="profilepage(blist.TeacherId)">
        <img *ngIf="blist.img=='teachers4.jpg' || blist.img=='' || blist.img==null" src="../../assets/imgs/profileimg.jpg" width="30px" height="30px">
        <img *ngIf="blist.img!='teachers4.jpg' && blist.img!='' && blist.img!=null" [src]="logopath+blist.img" width="30px" height="30px">
      </ion-thumbnail>
      <h2>{{blist.TeacherName}}</h2>
      <button ion-button class="m-0" clear item-end *ngIf="blist.isBlocked=='false'" (click)="startChat(blist.roomNo ,blist.UserName ,blist.img)"><ion-icon name="ios-chatbubbles" style="font-size:30px;"></ion-icon></button>
  
    </ion-item>
  </ion-list>
  <ion-list *ngIf="bookinglist!='' && Role==5">
      <ion-item no-padding *ngFor="let blist of bookinglist">
        <ion-thumbnail item-start (click)="profilepage(blist.TeacherId)">
          <img *ngIf="blist.img=='teachers4.jpg' || blist.img=='' || blist.img==null" src="../../assets/imgs/profileimg.jpg" width="30px" height="30px">
          <img *ngIf="blist.img!='teachers4.jpg' && blist.img!='' && blist.img!=null" [src]="logopath+blist.img" width="30px" height="30px">
        </ion-thumbnail>
        <h2>{{blist.SchoolName}}</h2>
        <button ion-button class="m-0" clear item-end *ngIf="blist.isBlocked=='false'" (click)="startChat(blist.roomNo ,blist.UserName ,blist.img)"><ion-icon name="ios-chatbubbles" style="font-size:30px;"></ion-icon></button>
        
      </ion-item>
    </ion-list>
  <ion-row *ngIf="bookinglist=='' || bookinglist==null">
    <ion-col col-12 text-center >
        <img src="../../assets/imgs/hold.png" alt="" padding>
        <p padding>No List Found.</p>
    </ion-col>
  </ion-row>
</ion-content>
