<ion-header>
        <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
          <!-- <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <button ion-button  class="menubtn" float-left (click)="editprofilepage()">
              <img *ngIf="userData!=''" [src]="Logo" alt="" width="30px" height="30px" style="border-radius:50%">
          </button>
          <ion-title float-left>Teacher Profile</ion-title>
          <button ion-button  class="menubtn" text-right float-right (click)="shownoti()">
              <ion-icon name="notifications" style="font-size:30px;"></ion-icon><ion-badge *ngIf="noticountdata!='' && noticountdata.code=='200'">{{noticountdata.count}}</ion-badge>
          </button>
        </ion-navbar>
        <div class="segment_tab">
          <ion-segment [(ngModel)]="schooltabs">
              <ion-segment-button value="days">
                  Select Days
              </ion-segment-button>
              <ion-segment-button value="peroids">
                  Select Period
              </ion-segment-button>
          </ion-segment>
          </div>
      </ion-header>
<ion-content>
    <div [ngSwitch]="schooltabs">
        <ion-list *ngSwitchCase="'days'">
                <p style="font-size: 20px;text-align: center;font-weight: 600;">Add Availability Days</p>
                <!-- <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Days</p>
                <ion-list style="padding-top: 15px;padding-bottom: 15px;float: left;margin-bottom: 0;">
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Monday == '1'}" (click)="toggledays('Monday')">
                      Monday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Tuesday == '1'}" (click)="toggledays('Tuesday')">
                      Tuesday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Wednesday == '1'}" (click)="toggledays('Wednesday')">
                      Wednesday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Thursday == '1'}" (click)="toggledays('Thursday')">
                      Thursday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Friday == '1'}" (click)="toggledays('Friday')">
                      Friday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Saturday == '1'}" (click)="toggledays('Saturday')">
                      Saturday
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Sunday == '1'}" (click)="toggledays('Sunday')">
                      Sunday
                  </ion-item>
                </ion-list>
            
            
                <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Time Slots</p>
                <ion-list style="padding-top: 15px;padding-bottom: 15px;float: left;margin-bottom: 0;">
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot1 == '1'}" (click)="toggletimeslot('9:00 -10:00')">
                      9:00 -10:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot2 == '1'}" (click)="toggletimeslot('10:00 -11:00')">
                      10:00 -11:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot3 == '1'}" (click)="toggletimeslot('11:00 -12:00')">
                      11:00 -12:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot4 == '1'}" (click)="toggletimeslot('12:00 -01:00')">
                      12:00 -01:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot5 == '1'}" (click)="toggletimeslot('01:00 -02:00')">
                      01:00 -02:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot6 == '1'}" (click)="toggletimeslot('02:00 -03:00')">
                      02:00 -03:00
                  </ion-item>
                  <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslots.slot7 == '1'}" (click)="toggletimeslot('03:00 -04:00')">
                      03:00 -04:00
                  </ion-item>
                </ion-list>
            
            
                <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Standrads</p>
                <ion-list style="padding-top: 15px;padding-bottom: 15px;float: left;margin-bottom: 0;">
                  <ion-item *ngFor="let row of Standard" class="contesttypefilter" [ngClass]="{'coloractive': bcontesttype == 'pix$'}" (click)="togglestandrads('row.StandardName')">
                      {{row.StandardName}}
                  </ion-item>
                </ion-list> -->
            
              <ion-item>
                <ion-label>Days</ion-label>
                <ion-select [(ngModel)]="teacherDay.Day" multiple="true">
                  <ion-option value="Monday">Monday</ion-option>
                  <ion-option value="Tuesday" >Tuesday</ion-option>
                  <ion-option value="Wednesday">Wednesday</ion-option>
                  <ion-option value="Thursday">Thursday</ion-option>
                  <ion-option value="Friday">Friday</ion-option>
                  <ion-option value="Saturday">Saturday</ion-option>
                  <ion-option value="Sunday">Sunday</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Time Slots</ion-label>
                <ion-select [(ngModel)]="teacherDay.TimeSlote" multiple="true">
                  <ion-option value="9:00 -10:00">9:00 -10:00</ion-option>
                  <ion-option value="10:00 -11:00">10:00 -11:00</ion-option>
                  <ion-option value="11:00 -12:00">11:00 -12:00</ion-option>
                  <ion-option value="12:00 -13:00">12:00 -13:00</ion-option>
                  <ion-option value="13:00 -14:00">13:00 -14:00</ion-option>
                  <ion-option value="14:00 -15:00">14:00 -15:00</ion-option>
                  <ion-option value="15:00 -16:00">15:00 -16:00</ion-option>
                  <ion-option value="16:00 -17:00">16:00 -17:00</ion-option>
                  <ion-option value="17:00 -18:00">17:00 -18:00</ion-option>
                  <ion-option value="18:00 -19:00">18:00 -19:00</ion-option>
                  <ion-option value="19:00 -20:00">19:00 -20:00</ion-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Standrads</ion-label>
                  <ion-select [(ngModel)]="teacherDay.Standard" multiple="true">
                    <ion-option *ngFor="let row of Standard" value="{{row.Id}}">{{row.StandardName}}</ion-option>
                  </ion-select>
              </ion-item>
            
              <ion-item style="border:none !important;" class="booking">
                <ion-label style="color:black;">Want to book directly</ion-label>
                <ion-checkbox [(ngModel)]="sausage"></ion-checkbox>
              </ion-item>
              <button ion-button block style="margin-top: 10px;" (click)="save()">Save</button>
        </ion-list>



        <ion-list *ngSwitchCase="'peroids'">
            <p style="font-size: 20px;text-align: center;font-weight: 600;margin-top: 10px;">Add Availability Period</p>
            <ion-item  class="p-0">
                <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherPeriod.FromDate" placeholder="From Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
            <ion-item  class="p-0">
                <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherPeriod.ToDate" placeholder="To Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
                <ion-item >
                <ion-label>Time Slots</ion-label>
                <ion-select [(ngModel)]="teacherPeriod.TimeSlote" multiple="true">
                    <ion-option value="9:00 -10:00">9:00 -10:00</ion-option>
                    <ion-option value="10:00 -11:00">10:00 -11:00</ion-option>
                    <ion-option value="11:00 -12:00">11:00 -12:00</ion-option>
                    <ion-option value="12:00 -13:00">12:00 -13:00</ion-option>
                    <ion-option value="13:00 -14:00">13:00 -14:00</ion-option>
                    <ion-option value="14:00 -15:00">14:00 -15:00</ion-option>
                    <ion-option value="15:00 -16:00">15:00 -16:00</ion-option>
                    <ion-option value="16:00 -17:00">16:00 -17:00</ion-option>
                    <ion-option value="17:00 -18:00">17:00 -18:00</ion-option>
                    <ion-option value="18:00 -19:00">18:00 -19:00</ion-option>
                    <ion-option value="19:00 -20:00">19:00 -20:00</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>Standrads</ion-label>
                <ion-select [(ngModel)]="teacherPeriod.Standard" multiple="true">
                <ion-option *ngFor="let row of Standard" value="{{row.Id}}">{{row.StandardName}}</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button block style="margin-top: 10px;" (click)="save()">Save</button>
        </ion-list>
    </div>
            
    
</ion-content>
