<ion-header>
        <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
          <!-- <button ion-button menuToggle class="menubtn">
            <ion-icon name="menu"></ion-icon>
          </button> -->
          <button ion-button *ngIf="userData!=''" class="menubtn" float-left (click)="editprofilepage()">
              <img *ngIf="userData.ImagePath=='teachers4.jpg' || userData.ImagePath=='' || userData.ImagePath==null" src="../../assets/imgs/profileimg.jpg" alt="" width="30px" height="30px" style="border-radius:50%">
              <img *ngIf="userData.ImagePath!='teachers4.jpg' || userData.ImagePath!='' || userData.ImagePath!=null" [src]="LogoUrl+userData.ImagePath" alt="" width="30px" height="30px" style="border-radius:50%">
          </button>
          <ion-title float-left>Teacher Profile</ion-title>
          <button ion-button  class="menubtn" text-right float-right (click)="shownoti()">
              <ion-icon name="notifications" style="font-size:30px;"></ion-icon><ion-badge *ngIf="noticountdata!='' && noticountdata.code=='200'">{{noticountdata.count}}</ion-badge>
          </button>
        </ion-navbar>
        <!-- <div class="segment_tab">
          <ion-segment [(ngModel)]="schooltabs">
              <ion-segment-button value="days">
                  Select Days
              </ion-segment-button>
              <ion-segment-button value="peroids">
                  Select Period
              </ion-segment-button>
          </ion-segment>
          </div> -->
      </ion-header>
<ion-content>
    <div >
        <ion-list >
                <p style="font-size: 20px;text-align: center;font-weight: 600;">Add Availability Days</p>
                <ion-grid>
                    <ion-row>
                      <ion-col>
                        
                        <ion-item  class="p-0">
                            <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                                <ion-icon name="md-calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherDay.ToDate" placeholder="To Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                        </ion-item>


                      </ion-col>
                      <ion-col>

                        <ion-item  class="p-0">
                            <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                                <ion-icon name="md-calendar"></ion-icon>
                            </ion-label>
                            <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherDay.FromDate" placeholder="From Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                        </ion-item>
                          

                      </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Monday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Monday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Monday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Tuesday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Tuesday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Tuesday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Wednesday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Wednesday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Wednesday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Thursday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Thursday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Thursday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Friday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Friday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Friday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Saturday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Saturday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Saturday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col>
                            Sunday
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time To</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Sunday.To">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                        </ion-col>
                        <ion-col>
                            <ion-item>
                                <ion-label>Time From</ion-label>
                                <ion-select [(ngModel)]="teacherDay.Sunday.From">
                                  <ion-option value="9:00">9:00</ion-option>
                                  <ion-option value="10:00">10:00</ion-option>
                                  <ion-option value="11:00">11:00</ion-option>
                                  <ion-option value="12:00">12:00</ion-option>
                                  <ion-option value="13:00">13:00</ion-option>
                                  <ion-option value="14:00">14:00</ion-option>
                                  <ion-option value="15:00">15:00</ion-option>
                                  <ion-option value="16:00">16:00</ion-option>
                                  <ion-option value="17:00">17:00</ion-option>
                                  <ion-option value="18:00">18:00</ion-option>
                                  <ion-option value="19:00">19:00</ion-option>
                                </ion-select>
                              </ion-item>
                              
                        </ion-col>
                    </ion-row>


                </ion-grid>

            
              <!-- <ion-item>
                <ion-label>Days</ion-label>
                <ion-select [(ngModel)]="teacherDay.Day" multiple="true">
                  <ion-option value="Monday">Monday</ion-option>
                  <ion-option value="Tuesday" >Tuesday</ion-option>
                  <ion-option value="Wednesday">Wednesday</ion-option>
                  <ion-option value="Thursday">Thursday</ion-option>
                  <ion-option value="Friday">Friday</ion-option>
                  <ion-option value="Saturday">Saturday</ion-option>
                  <ion-option value="Sunday">Sunday</ion-option>
                </ion-select>
              </ion-item> -->
              
              
              <!-- <ion-item>
                <ion-label>Standrads</ion-label>
                  <ion-select [(ngModel)]="teacherDay.Standard" multiple="true">
                    <ion-option *ngFor="let row of Standard" value="{{row.Id}}">{{row.StandardName}}</ion-option>
                  </ion-select>
              </ion-item> -->
            
              <ion-item style="border:none !important;" class="booking">
                <ion-label style="color:black;">Want to book directly</ion-label>
                <ion-checkbox [(ngModel)]="sausage"></ion-checkbox>
              </ion-item>
              <button ion-button block style="margin-top: 10px;" (click)="save()">Save</button>
        </ion-list>



        <!-- <ion-list *ngSwitchCase="'peroids'">
            <p style="font-size: 20px;text-align: center;font-weight: 600;margin-top: 10px;">Add Availability Period</p>
            <ion-item  class="p-0">
                <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherPeriod.FromDate" placeholder="From Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
            <ion-item  class="p-0">
                <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                    <ion-icon name="md-calendar"></ion-icon>
                </ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherPeriod.ToDate" placeholder="To Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
                <ion-item >
                <ion-label>Time Slots</ion-label>
                <ion-select [(ngModel)]="teacherPeriod.TimeSlote" multiple="true">
                    <ion-option value="9:00 -10:00">9:00 -10:00</ion-option>
                    <ion-option value="10:00 -11:00">10:00 -11:00</ion-option>
                    <ion-option value="11:00 -12:00">11:00 -12:00</ion-option>
                    <ion-option value="12:00 -13:00">12:00 -13:00</ion-option>
                    <ion-option value="13:00 -14:00">13:00 -14:00</ion-option>
                    <ion-option value="14:00 -15:00">14:00 -15:00</ion-option>
                    <ion-option value="15:00 -16:00">15:00 -16:00</ion-option>
                    <ion-option value="16:00 -17:00">16:00 -17:00</ion-option>
                    <ion-option value="17:00 -18:00">17:00 -18:00</ion-option>
                    <ion-option value="18:00 -19:00">18:00 -19:00</ion-option>
                    <ion-option value="19:00 -20:00">19:00 -20:00</ion-option>
                </ion-select>
                </ion-item>
                <ion-item>
                <ion-label>Standrads</ion-label>
                <ion-select [(ngModel)]="teacherPeriod.Standard" multiple="true">
                <ion-option *ngFor="let row of Standard" value="{{row.Id}}">{{row.StandardName}}</ion-option>
                </ion-select>
            </ion-item>
            <button ion-button block style="margin-top: 10px;" (click)="save()">Save</button>
        </ion-list> -->
    </div>
            
    
</ion-content>
