<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title >Matching</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-slides class="home_teachers" *ngIf="teacherList!=''">
    <ion-slide class="home_teachers_slide" *ngFor="let teacher of teacherList">
      <div class="sliderimgg">
      </div>
      <h1 class="home_teachers_slide_name">{{teacher.FirstName+' '+teacher.LastName}} <span><ion-icon *ngIf="teacher.favId=='' || teacher.favId==null" float-right (click)="addToFav(teacher.DeputyPersonId)" name="ios-heart-outline"></ion-icon><ion-icon *ngIf="teacher.favId!='' && teacher.favId!=null" float-right (click)="addToFav(teacher.DeputyPersonId)" name="ios-heart"></ion-icon></span></h1>
      <p class="home_teachers_slide_reviews">Top Review</p>
      <p class="home_teachers_slide_desc">
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      </p>
      <p class="home_teachers_slide_cost">
        Rate: $24/hr
      </p>
      <p class="home_teachers_slide_view" (click)="profilepage(teacher.DeputyPersonId)">
        Teacher Profile Detail
      </p>
      <button *ngIf="teacher.bookingID!='' && teacher.bookingID!=null" ion-button block class="home_teachers_slide_btn" (click)="inviteTeacher(teacher.userId)">Booking</button>
      <button *ngIf="teacher.bookingID=='' || teacher.bookingID==null" ion-button block class="home_teachers_slide_btn" (click)="inviteTeacher(teacher.userId)">Invite</button>
    </ion-slide>
  </ion-slides>
  <ion-row *ngIf="teacherList=='' || teacherList==null">
      <ion-col col-12 text-center >
          <img src="../../assets/imgs/hold.png" alt="" padding>
          <p padding>No Matching Found</p>
      </ion-col>
  </ion-row>
</ion-content>
