$themecolor: #38d345;
$themecolorw: #38d345;
page-home {
    
    .home_teachers{
        text-align: left;
    }
    .home_teachers_slide .slide-zoom{
        text-align: left;
        margin-top: 0;
        height: 100%;
    }
    .home_teachers_slide_name {
        color: $themecolor;
        padding-left: 15px;
    padding-right: 15px;
    }
    
    button.sidemenubutton {
        background: #fb6542;
    }    
    .home_teachers_slide_reviews{
        font-size: 20px;
        color: #ce3232;
        font-weight: 500;
        padding-left: 15px;
    padding-right: 15px;
    }
    .home_teachers_slide_desc{
        color:#444;
        padding-left: 15px;
    padding-right: 15px;
    }
    .home_teachers_slide_cost {
        font-size: 22px;
        font-weight: 700;
        color: #a5745f;
        padding-left: 15px;
    padding-right: 15px;
    }
    .home_teachers_slide_view {
        font-size: 14px;
        text-decoration: underline;
        color: $themecolor;
        padding-left: 15px;
    padding-right: 15px;
    }
    button.home_teachers_slide_btn {
        background-color: $themecolor;
    font-size: 18px;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
    width: 80%;
    text-align: center;
    margin: auto;
    // margin-bottom: 15px;
    margin-bottom: 65px;
    }
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    ion-slide.home_teachers_slide {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        // margin-top: 25px;
        margin-left: 5px;
        height: 80vh;
        box-shadow: 0px 3px 10px 0px grey;
    
    }
    .swiper-pagination.hide{
        display: block !important;
        bottom: 3px !important;
    }
    .swiper-pagination-bullet-active {
        background: $themecolor;
        opacity: 1;
    }
    // .scroll-content {
    //     background: #e8e8e8;
    // }
    .swiper-slide img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .menubtn {
        box-shadow: none !important;
    }
    .toolbar-background {
        background: #38d345;
        border: none !important;
    }
    .scroll-content {
        padding: 10px !important;
    }
    .sliderimgg {
        width: auto;
        text-align: center;
        padding: 10px;
        float: left;
        position: absolute;
        border: 3px solid #38d345;
        padding: 0;
        border-radius: 50%;
        top: -65px;
        left: 28%;
        box-shadow: 1px 0px 10px 0px dimgrey;
    }
    .sliderimgg img {
        width: 130px !important;
        height: 130px !important;
        border-radius: 50%;
        object-fit: cover !important;
        /* border: 0px solid #38d345; */
    }
    ion-slide.home_teachers_slide {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        margin-left: 5px;
        margin-top: 80px;
        padding-top: 60px;
        overflow: visible;
        height: 70vh;
        -webkit-box-shadow: 0px 3px 10px 0px grey;
        box-shadow: 0px 3px 10px 0px grey;
    }
    
}
