<ion-header>
  <p  text-left><span (click)="back()">Back</span><span (click)="skip()" float-right >Skip</span></p>
</ion-header>
<ion-content padding id="registerpage" text-center>
    <img src="../../assets/imgs/step2.png" alt="" width="60%" padding> 
  <div class="registerchoice">
    <h3 text-center>Please Upload ID Card</h3>
    <img *ngIf="baseImgFront==''" src="../../assets/imgs/idcard.png" alt="" class="schoollogo">
    <img *ngIf="baseImgBack==''" src="../../assets/imgs/idcard.png" alt="" class="schoollogo">
    <img *ngIf="baseImgFront!=''" [src]="getFrontImgContent()" alt="" class="schoollogo">
    <img *ngIf="baseImgBack!=''" [src]="getBackImgContent()" alt="" class="schoollogo">
    <ion-col col-6 float-left>
      <button ion-button block (click)="uploadPhoto('front')">Front ID Card</button>
    </ion-col>
    <ion-col col-6 float-left>
      <button ion-button block (click)="uploadPhoto('back')">Back ID Card</button>
    </ion-col>
  </div>
  <button ion-button block class="registerbtn colfaded" (click)="teacherregister2()">NEXT</button>
</ion-content>
