$themecolor: #a51463;
$themecolorw: #a51463;
page-teacherregister2 {
    ion-header ion-navbar .toolbar-background {
        background: $themecolor;
    }
    // .registerchoice button{
    //     background: $themecolor !important;
    // }
    .registerchoice{
        width: 100vw;
        height: 70vh;
        display: table-cell;
        vertical-align: middle;
    }
    .registerbtn{
        background: $themecolor !important;
    }
    ion-header{
        background: white;
        box-shadow: none !important;
    }
    ion-header p{
        width: 100%;
        text-align: left !important;
        padding: 10px;
        background: white;
        box-shadow: none !important;
        margin: 0;
    }
    .schoollogo{
        width: 150px;
        height: 150px;
        border-radius: 100%;
        margin: 20px;
    }
    .registerchoice{
        text-align: center;
    }
}
