<ion-header>
  <ion-navbar>
    <ion-title>SETTINGS</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <!-- <button *ngIf="userDetail.Ispaid=='no'" ion-item  (click)="pay()">
            Premium feature
        </button>  -->
        <button ion-item (click)="blocklist()">
          Accept List
        </button>  
        <button ion-item (click)="bookinglist()">
          Booking List 
        </button>
        <button *ngIf="userDetail.Ispaid=='no'" ion-item (click)="pay()">
          Get Monthly Subscription 
        </button>
        <button *ngIf="userDetail.Ispaid=='yes'" ion-item>
          Unsubscribe 
        </button>
        <button  (click)="help()" ion-item>
          Help 
        </button>
        <button ion-item (click)="logout()">
            <span style="color:brown;font-weight:700;">Logout</span> 
        </button> 
      </ion-list>
</ion-content>
