<ion-header>
  <ion-navbar  style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card  *ngFor="let row of notificationList">
    <img *ngIf=" row.img=='' || row.img==null" src="../../assets/imgs/profileimg.jpg" alt="" style="border-radius: 50%;width: 100px;height: 100px;">
    <img *ngIf="row.img!='' && row.img!=null" [src]="LogoUrl+row.img" alt="" style="border-radius: 50%;width: 100px;height: 100px;">
  
    <!-- <img [src]="LogoUrl+row.logo" style="border-radius: 50%;width: 100px;height: 100px;"/> -->
    <ion-card-content>
      <ion-card-title>
        {{row.UserName}} 
        </ion-card-title>
        <p>
           {{row.Description}}
          </p>
      <ion-col col-6 float-left *ngIf="row.Status=='Pending'">
        <button ion-button full class="cancelbtn" (click)="updateStatus(row.ReceiverID, 'reject',row.SenderByID, row.roomNo)">Cancel</button>
      </ion-col>
      <ion-col col-6 float-left>
        <button ion-button full *ngIf="row.Status=='Pending'" (click)="updateStatus(row.ReceiverID, 'accept',row.SenderByID, row.roomNo)">Accept</button>
      </ion-col>
      <ion-col col-12 float-left *ngIf="row.Status=='accept'">
        <button ion-button full (click)="startChat(row.roomNo ,row.UserName ,row.logo)">Chat</button>
      </ion-col>
    </ion-card-content>
  </ion-card>
  <ion-row *ngIf="notificationList==''">
      <ion-col col-12 text-center >
          <img src="../../assets/imgs/hold.png" alt="" padding>
          <p padding>No Notifications Found</p>
      </ion-col>
  </ion-row>
</ion-content>
