<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card  *ngFor="let row of teacherList">
    <img src="../../assets/imgs/myprofileimg.png"/>
    <ion-card-content>
      <ion-card-title>
        {{row.UserName}} 
        </ion-card-title>
        <p>
           {{row.Description}}
          </p>
      <ion-col col-6 float-left *ngIf="row.Status=='Pending'">
        <button ion-button full class="cancelbtn" (click)="updateStatus(row.toUserId, 'reject',row.UserId)">Cancel</button>
      </ion-col>
      <ion-col col-6 float-left>
        <button ion-button full *ngIf="row.Status=='Pending'" (click)="updateStatus(row.toUserId, 'accept',row.UserId)">Accept</button>
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
