<ion-header>
  <ion-navbar>
    <button ion-button menuToggle class="menubtn">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let noti of notificationList">
    <img src="../../assets/imgs/profileimg.jpg" style="border-radius: 50%;width: 100px;height: 100px;"/>
    <ion-card-content>
      <ion-card-title>
        {{noti.UserName}}
        </ion-card-title>
        <p>{{noti.Description}}</p>
      <ion-col col-6 float-left *ngIf="noti.Status!='accept' && userdata.Usertype=='School'">
        <button ion-button full class="cancelbtn">Cancel</button>
      </ion-col>
      <ion-col col-6 float-left *ngIf="noti.Status!='accept' && userdata.Usertype!='School'">
        <button ion-button full>Accept</button>
      </ion-col>
      <ion-col col-12 float-left *ngIf="noti.Status=='accept'">
        <button ion-button full (click)="chatpg()">Chat</button>
      </ion-col>
    </ion-card-content>
  </ion-card>
</ion-content>
