<ion-header>
  <ion-navbar style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button  class="menubtn" float-left (click)="editprofilepage()">
       
        <!-- <img *ngIf="userData.LogoPath!=''" [src]="userData.LogoPath" alt="" width="30px" height="30px" style="border-radius:50%"> -->
        <!-- *ngIf="userData.LogoPath=='' || userData.LogoPath == null" -->
        <img  *ngIf="!userData.LogoPath" src="../../assets/imgs/profileimg.jpg"  alt="" width="30px" height="30px" style="border-radius:50%">
        <img  *ngIf="userData.LogoPath!='' || userData.LogoPath != null || userData.LogoPath"  [src]="LogoUrl+Logo"  alt="" width="30px" height="30px" style="border-radius:50%">
    </button>
    <ion-title float-left >School Profile</ion-title>
    <button ion-button  class="menubtn" text-right float-right (click)="shownoti()">
        <ion-icon name="notifications" style="font-size:30px;"></ion-icon><ion-badge *ngIf="noticountdata!='' && noticountdata.code=='200'">{{noticountdata.count}}</ion-badge>
    </button>
  </ion-navbar>
  <!-- <div class="segment_tab segmenttab1">
    <ion-segment [(ngModel)]="matchingtabs">
        <ion-segment-button value="setting">
                <ion-icon name="md-settings"></ion-icon>
        </ion-segment-button>
        <ion-segment-button value="matching">
                <ion-icon name="md-search"></ion-icon>
        </ion-segment-button>
    </ion-segment>
  </div> -->
  <!-- <div [ngSwitch]="matchingtabs"> -->
      <!-- <div *ngSwitchCase="'setting'"> -->
        <!-- <div class="segment_tab">
            <ion-segment [(ngModel)]="schooltabs">
                <ion-segment-button value="days" (click)="setTab('days')">
                    Select Days
                </ion-segment-button>
                <ion-segment-button value="peroids" (click)="setTab('peroids')">
                    Select Period
                </ion-segment-button>
            </ion-segment>
        </div> -->
      <!-- </div> -->
  <!-- </div> -->
    
</ion-header>

<ion-content>
    <!-- <div float-left width="100%">
        <ion-toggle float-left [(ngModel)]="test" (ngModelChange)="changestate($event)"></ion-toggle>
    </div> -->
    <!-- settting tab -->
    <!-- settting tab -->
    <!-- <div [ngSwitch]="matchingtabs"> -->
        <!-- <div *ngSwitchCase="'setting'"> -->
        <div >

            <ion-list >
                <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Days</p>
                <ion-list style="padding: 5px;width:100%;float: left;margin-bottom: 0;">
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Monday == '1'}" (click)="toggledays('1')">
                        Monday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Tuesday == '1'}" (click)="toggledays('2')">
                        Tuesday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Wednesday == '1'}" (click)="toggledays('3')">
                        Wednesday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Thursday == '1'}" (click)="toggledays('4')">
                        Thursday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Friday == '1'}" (click)="toggledays('5')">
                        Friday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Saturday == '1'}" (click)="toggledays('6')">
                        Saturday
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seldays.Sunday == '1'}" (click)="toggledays('7')">
                        Sunday
                    </ion-item>
                </ion-list>
                <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Time From</p>
                <ion-list style="padding: 5px;width:100%;float: left;margin-bottom: 0;">
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot1 == '1'}" (click)="toggletimeslot('9:00','dayfrom')">
                        9:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot2 == '1'}" (click)="toggletimeslot('10:00','dayfrom')">
                        10:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot3 == '1'}" (click)="toggletimeslot('11:00','dayfrom')">
                        11:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot4 == '1'}" (click)="toggletimeslot('12:00','dayfrom')">
                        12:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot5 == '1'}" (click)="toggletimeslot('13:00','dayfrom')">
                        13:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot6 == '1'}" (click)="toggletimeslot('14:00','dayfrom')">
                        14:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot7 == '1'}" (click)="toggletimeslot('15:00','dayfrom')">
                        15:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot8 == '1'}" (click)="toggletimeslot('16:00','dayfrom')">
                        16:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot9 == '1'}" (click)="toggletimeslot('17:00','dayfrom')">
                        17:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot10 == '1'}" (click)="toggletimeslot('18:00','dayfrom')">
                        18:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsFrom.slot11 == '1'}" (click)="toggletimeslot('19:00','dayfrom')">
                        19:00
                    </ion-item>
                </ion-list>
                <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;">Select Time To</p>
                <ion-list style="padding: 5px;width:100%;float: left;margin-bottom: 0;">
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot1 == '1'}" (click)="toggletimeslot('9:00','day')">
                        9:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot2 == '1'}" (click)="toggletimeslot('10:00','day')">
                        10:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot3 == '1'}" (click)="toggletimeslot('11:00','day')">
                        11:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot4 == '1'}" (click)="toggletimeslot('12:00','day')">
                        12:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot5 == '1'}" (click)="toggletimeslot('13:00','day')">
                        13:00 
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot6 == '1'}" (click)="toggletimeslot('14:00','day')">
                        14:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot7 == '1'}" (click)="toggletimeslot('15:00','day')">
                        15:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot8 == '1'}" (click)="toggletimeslot('16:00','day')">
                        16:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot9 == '1'}" (click)="toggletimeslot('17:00','day')">
                        17:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot10 == '1'}" (click)="toggletimeslot('18:00','day')">
                        18:00
                    </ion-item>
                    <ion-item class="contesttypefilter" [ngClass]="{'coloractive': seltimeslotsTo.slot11 == '1'}" (click)="toggletimeslot('19:00','day')">
                        19:00
                    </ion-item>
                </ion-list>
                
                <!-- <p style="font-size: 22px;font-weight: 700;padding-bottom: 0;margin-bottom: 0;text-align: center;" *ngIf="Standard!=''">Select Standrads</p>
                <ion-list style="padding: 5px;width:100%;float: left;margin-bottom: 0;">
                    <ion-item *ngFor="let row of Standard" class="contesttypefilter" [ngClass]="{'coloractive': schoolDay.Standard.indexOf(row.Id)>=0 }" (click)="togglestandrads(row.Id,'day')">
                        {{row.StandardName}}
                    </ion-item>
                </ion-list>  -->
                <button ion-button block style="margin-top: 10px;" (click)="matchByDay()">Matching</button>
            </ion-list>


        </div>
        <!-- mobi scroll -->
        <!-- <mbsc-form>
                <mbsc-form-group>
                    <mbsc-form-group-title>Country picker</mbsc-form-group-title>
                    <label>
                        Group wheel
                        <input [(ngModel)]="select" mbsc-select [mbsc-options]="selectSettings" [mbsc-data]="myData" />
                    </label>
                    <label>
                        Filter
                       <input [(ngModel)]="filter" mbsc-select [mbsc-options]="filterSettings" [mbsc-data]="myData" />
                    </label>
                </mbsc-form-group>
                <mbsc-form-group class="mbsc-padding">
                    <p class="mbsc-thin">Use it on any element or non-mobiscroll form.</p>
                </mbsc-form-group>
            </mbsc-form>
            <ion-item>
                <ion-label>Select</ion-label>
                <ion-input [(ngModel)]="myselect" mbsc-select [mbsc-options]="myselectSettings" [mbsc-data]="myData"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>External button</ion-label>
                <ion-input [(ngModel)]="external" mbsc-select [mbsc-options]="externalSettings" [mbsc-data]="myData" #externalSelect="mobiscroll"></ion-input>
                <button ion-button item-right (click)="externalSelect.instance.show()">Show</button>
            </ion-item> -->
            <!-- mobi scroll -->
        <div *ngIf="userData.Ispaid=='yes'" (click)="showfav()" style="float: right;background: #ef5368;border-radius: 50px;color: white;position: fixed;bottom: 5px;right: 5px;height: 50px !important;box-shadow: 0px 0px 5px 0px grey;">
            <img src="../../assets/imgs/love.gif" style="width:50px;height:50px;margin-right: 0;" float-left/><p float-left style="margin:0;font-size: 18px;    padding-top: 10px;padding-right: 10px;">Favourites</p>
        </div>

        <!-- </div> -->
        <!-- <div *ngSwitchCase="'matching'"> -->
            <!-- <ion-slides class="home_teachers">
                <ion-slide class="home_teachers_slide" *ngFor="let teacher of teacherList">
                    <div class="sliderimgg">
                    </div>
                    <h1 class="home_teachers_slide_name">{{teacher.FirstName+' '+teacher.LastName}} <span><ion-icon *ngIf="teacher.favId=='' || teacher.favId==null" float-right (click)="addToFav(teacher.DeputyPersonId)" name="ios-heart-outline"></ion-icon><ion-icon *ngIf="teacher.favId!='' && teacher.favId!=null" float-right (click)="addToFav(teacher.DeputyPersonId)" name="ios-heart"></ion-icon></span></h1>
                    <p class="home_teachers_slide_reviews" (click)="rateteacher()">Top Review</p>
                    <p class="home_teachers_slide_desc">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                    <p class="home_teachers_slide_cost">
                        Rate: $24/hr
                    </p>
                    <p class="home_teachers_slide_view" (click)="profilepage(teacher.DeputyPersonId)">
                        Teacher Profile Detail
                    </p>
                    <button *ngIf="teacher.bookingID!='' && teacher.bookingID!=null" ion-button block class="home_teachers_slide_btn" (click)="inviteTeacher(teacher.userId)">Booking</button>
                    <button *ngIf="teacher.bookingID=='' || teacher.bookingID==null" ion-button block class="home_teachers_slide_btn" (click)="inviteTeacher(teacher.userId)">Invite</button>
                </ion-slide>
            </ion-slides> -->
        <!-- </div> -->
    <!-- </div> -->
    <!-- settting tab -->
    <!-- settting tab -->
    
    
</ion-content> 
