<ion-header>
  <ion-navbar style="box-shadow: 1px 0px 10px 0px black;">
    <button ion-button  class="menubtn" float-left (click)="editprofilepage()">
        <img  *ngIf="!userData.LogoPath" src="../../assets/imgs/profileimg.jpg"  alt="" width="30px" height="30px" style="border-radius:50%">
        <img  *ngIf="userData.LogoPath!='' || userData.LogoPath != null || userData.LogoPath"  [src]="LogoUrl+Logo"  alt="" width="30px" height="30px" style="border-radius:50%">
    </button>
    <ion-title float-left >School Profile</ion-title>
    <button ion-button  class="menubtn" text-right float-right (click)="shownoti()">
        <ion-icon name="notifications" style="font-size:30px;"></ion-icon><ion-badge *ngIf="noticountdata!='' && noticountdata.code=='200'">{{noticountdata.count}}</ion-badge>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
        <div>
            <ion-list >
                <p style="font-size: 20px;text-align: center;font-weight: 600;">Search Teacher</p>
                <ion-item  class="p-0 col-12">
                    <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                        <ion-icon name="md-calendar"></ion-icon>
                    </ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherDay.FromDate" placeholder="From Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
                <ion-item  class="p-0 col-12">
                    <ion-label style="margin-bottom: 0;margin-right: 10px;text-align: center;">
                        <ion-icon name="md-calendar"></ion-icon>
                    </ion-label>
                    <ion-datetime displayFormat="MM/DD/YYYY"  [min]="myDate" max="2019" [(ngModel)]="teacherDay.ToDate" placeholder="To Available Date" style="    width: 84%;font-size: 16px; position: relative;padding: 5px;padding-left: 0;"></ion-datetime>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Monday</div>
                <ion-item class="col-4 pl-2 float-left mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Monday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left" > 
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Monday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Tuesday</div>
                <ion-item class="col-4 pl-2 float-left  mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Tuesday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Tuesday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Wednesday</div> 
                <ion-item class="col-4 pl-2 float-left  mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Wednesday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Wednesday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Thursday</div>
                <ion-item class="col-4 pl-2 float-left  mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Thursday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Thursday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Friday</div>
                <ion-item class="col-4 pl-2 float-left mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Friday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Friday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Saturday</div>
                <ion-item class="col-4 pl-2 float-left mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Saturday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Saturday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <div class="col-3 float-left pl-0 pt-3 pr-1">Sunday</div>
                <ion-item class="col-4 pl-2 float-left mr-4">
                    <ion-select placeholder="Time From" [(ngModel)]="teacherDay.Sunday.From">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                <ion-item class="col-4 pl-2 float-left">
                    <ion-select placeholder="Time To" [(ngModel)]="teacherDay.Sunday.To">
                        <ion-option value="9:00">9:00</ion-option>
                        <ion-option value="10:00">10:00</ion-option>
                        <ion-option value="11:00">11:00</ion-option>
                        <ion-option value="12:00">12:00</ion-option>
                        <ion-option value="13:00">13:00</ion-option>
                        <ion-option value="14:00">14:00</ion-option>
                        <ion-option value="15:00">15:00</ion-option>
                        <ion-option value="16:00">16:00</ion-option>
                        <ion-option value="17:00">17:00</ion-option>
                        <ion-option value="18:00">18:00</ion-option>
                        <ion-option value="19:00">19:00</ion-option>
                    </ion-select>
                </ion-item>
                  <button ion-button block style="margin-top: 10px;" (click)="matchByDay()">Matching</button>
            </ion-list>
        </div>
        <div *ngIf="userData.Ispaid=='yes'" (click)="showfav()" style="float: right;background: #ef5368;border-radius: 50px;color: white;position: fixed;bottom: 5px;right: 5px;height: 50px !important;box-shadow: 0px 0px 5px 0px grey;">
            <img src="../../assets/imgs/love.gif" style="width:50px;height:50px;margin-right: 0;" float-left/><p float-left style="margin:0;font-size: 18px;    padding-top: 10px;padding-right: 10px;">Favourites</p>
        </div>
</ion-content> 
