$themecolor: #a51463;
$themecolorw: #a51463;
page-schoolprofile {   
    .toolbar-background{
        background: #fff;
    }
    .toolbar-title {
        color: $themecolor !important;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    .toolbar-background {
        background: #fff;
        border: none !important;
    }
    .scroll-content {
        padding: 10px ;
    }
    ion-label {
        color: unset !important;
        background: transparent !important;
        padding: 13px 0;
        margin: 0 !important;
        text-align: center;
        width: 50px;
        text-align: left;
    }
    ion-toggle button{
        background: transparent !important;
    }
    ion-select button {
        border-radius: 45px !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    ion-datetime button {
        border-radius: 45px !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }
    #myInput {
        width: calc(100% - 10px);
        border: 0;
        border-radius: 0;
        background: transparent;
    }
    ion-textarea {
        border: 2px solid #a51463;
        border-radius: 10px;
        min-height: 100px;
        padding: 0 10px;
    }
    .segment_tab{
        padding: 0;
        width: 100%;
        height: 50px;
    }
    .segment_tab ion-segment {
        height: 50px;
        background: #eaeaea;
        color: black;
    }
    .segment_tab ion-segment .segment-button {
        height: 50px !important;
        color: black !important;
        font-size: 13px !important;
        font-weight: bold;
        padding: 12px;
        border: 0 !important;
        line-height: 27px;
    }
    .segment_tab ion-segment .segment-button.segment-activated {
        background: $themecolor !important;
        color: white !important;
    }
    ion-badge{
        color: #a51463 !important;
        background-color: #ffffff !important;
    }








    .filtermodal{
        background-color: #13519c;
        height: 80px;
        padding: 18px;
        color: white;
    }
    .filtermodal .row div p{
        font-size: 16px;
        color: white;
    }
    .filtercontent p{
        font-size: 16px;
        color: #1558a5;
        padding-top: 15px;
        margin-bottom: 0px;
    }
    .filtercontent ion-input {
        padding: 5px;
        color: black !important;
        border-bottom: 2px solid #1558a5;
        padding-left: 10px !important;
    }
    .filtermodal .row div div{
            background-color: #ff4222;
            padding: 5px;
            border-radius: 4px;
            text-align: center;
    
    }
    .filtercontent ion-select{
        width: 100%;
        max-width: 100%;
        border-bottom: 2px solid #1558a5;
        padding: 7px;
        padding-left: 0px;
        padding-right: 10px;
    }
    ::placeholder {
      color: black;
    }
    .selectfilters .item-inner {
      padding: 0 !important;
      border: 0 !important;
    }
    ion-input.searchinput.filterinput input::placeholder {
      color: #999999 !important;
    }
    .filtercontent ion-input.searchinput {
      padding-left: 0 !important;
    }
    .datetime-text.datetime-placeholder {
      font-size: 14px;
    }
    .filtermodal {
      background-color: #13519c;
      height: 60px;
      padding: 20px;
      color: white;
    }
    #triangle-left {
      width: 0;
      height: 0;
      border-top: 50px solid transparent;
      border-right: 100px solid red;
      border-bottom: 50px solid transparent;
    }
    .filtermodal {
      background-color: #13519c;
      height: 60px;
      /* padding: 20px; */
      color: white;
      padding-top: 17px;
      padding-bottom: 16px;
    }
    .filtermodal .row div div {
      background-color: #ff4222;
      border-radius: 4px;
      text-align: center;
      vertical-align: middle;
      padding-top: 6px;
      width: 50px;
      padding-bottom: 3px;
    }
    
    .trianglespan p{
            vertical-align: middle;
            display: table-cell;
            text-align: center;
            margin: 0 auto;
            padding-left: 6px;
     }
     input.text-input.text-input-ios {
       margin: 0;
     }
     .contesttypefilter  ion-label{
         text-align: center !important;
     }
    .contesttypefilter{
        width: 31%;
        float: left;
        border: 2px solid $themecolor !important;
    
        // border-radius: 15px;
        height: 30px;
        min-height: 33px;
        margin-right: 5px;
        color:  black;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
    
    
    }
    .radio-ios .radio-checked .radio-inner {
      border-color: $themecolor;
    
    }
    
    .contesttypefilter .item-inner{
        min-height: 20px;
        height: 30px;
        padding: 0 !important;
    }
    .contesttypefilter ion-label {
    
      margin: 0;
          margin-bottom: 1px;
    
    }
    
    .coloractive
    {
        background-color: $themecolor;
        color: white !important;
    }
    .contestdurationfilter{
        width: 24%;
        float: left;
        border: 2px solid $themecolor !important;
    
        // border-radius: 15px;
        height: 30px;
        min-height: 33px;
        margin-right: 3px;
        color: $themecolor;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
    }
    .contestdurationfilter .item-inner {
      min-height: 20px;
      height: 30px;
      padding: 0 !important;
    
    }
    .contestdurationfilter ion-label{
        margin:0;
            margin-bottom: 1px;
    
    }
    .sportlistfilter{
        border: 2px solid $themecolor;
        margin-bottom: 0;
        margin-top: 15px;
        color:#1558a5;
    }
    .sportlistfilter .item{
        padding-left: 0;
        color:$themecolor;
    }
    .sportlistfilter .item .item-inner {
      padding-left: 10px;
    }
    .radio-checked {
      border-color: $themecolor;
    }
    // .radio-inner {
    // //   background-color: #13519c !important;
    
    // }
    .radio-icon {
      border-color: $themecolor !important;
    }
    .radio-icon.radio-checked {
      border-color: $themecolor;
    }
    .inputfieldfilter{
        position: relative;
    }
    .crossiconfilter{
        position: absolute;
        top: 0px;
        right: 5px;
        padding: 5px;
    }
    .booking button{
        box-shadow: none !important;
    }
    .toggle-icon {
        background-color: #a51463a3;
    }
    .segment_tab.segmenttab1 {
        width: 50%;
        margin: auto;
        position: absolute;
        top: 3px;
        border: 2px solid white;
        left: 25%;
        border-radius: 50px;
        overflow: hidden;
    }
    .segment_tab.segmenttab1 ion-segment .segment-button {
        padding: 5px;
    }
    ion-segment-button ion-icon{
        font-size: 30px !important;
    }
    .segment_tab.segmenttab1 ion-segment {
        height: 100% !important;
        margin: 0 !important;
    }
    .segment_tab.segmenttab1 ion-segment-button {
        border-radius: 50px;
    }
    .segment_tab.segmenttab1 ion-segment{
        background: #ffffff !important;
    }





    .home_teachers{
        text-align: left;
    }
    .home_teachers_slide .slide-zoom{
        text-align: left;
        margin-top: 0;
        height: 100%;
    }
    .home_teachers_slide_name {
        color: $themecolor;
        padding-left: 15px;
    padding-right: 15px;
    font-size: 20px !important;
    font-weight: 600;
    }
    
    button.sidemenubutton {
        background: #fb6542;
    }    
    .home_teachers_slide_reviews{
        font-size: 20px;
        color: #ce3232;
        font-weight: 500;
        padding-left: 15px;
    padding-right: 15px;
    }
    .home_teachers_slide_desc{
        color:#444;
        padding-left: 15px;
    padding-right: 15px;
    font-size: 14px;
    height: 18vh;
    overflow: scroll;
    }
    .home_teachers_slide_cost {
        font-size: 22px;
        font-weight: 700;
        color: #a5745f;
        padding-left: 15px;
    padding-right: 15px;
    }
    .home_teachers_slide_view {
        font-size: 18px;
        /* text-decoration: underline; */
        color: #a51463;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 600;
    }
    button.home_teachers_slide_btn {
        font-size: 18px;
        font-weight: 700;
        margin: auto;
        position: absolute;
        width: 80%;
        margin-left: 10%;
        bottom: 15px;
    }
    .toolbar-background{
        background: #fff;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    .swiper-pagination.hide{
        display: block !important;
        bottom: 3px !important;
    }
    .swiper-pagination-bullet-active {
        background: $themecolor;
        opacity: 1;
    }
    .swiper-slide img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .menubtn {
        box-shadow: none !important;
        background: #fff !important;

    }
    .menubtn ion-icon{
        color: $themecolor !important;
    }
    .toolbar-background {
        background: #fff;
        border: none !important;
    }
    .scroll-content {
        padding: 10px;
    }
    .sliderimgg {
        width: auto;
        text-align: center;
        padding: 10px;
        float: left;
        position: absolute;
        border: 3px solid #a51463;
        padding: 0;
        border-radius: 50%;
        top: -65px;
        left: 28%;
        box-shadow: 1px 0px 10px 0px dimgrey;
    }
    .sliderimgg img {
        width: 130px !important;
        height: 130px !important;
        border-radius: 50%;
        object-fit: cover !important;
        /* border: 0px solid #a51463; */
    }
    ion-slide.home_teachers_slide {
        background: white;
        border-radius: 10px;
        overflow: hidden;
        margin-top: 80px;
        padding-top: 60px;
        overflow: visible;
        height: 70vh;
        -webkit-box-shadow: 0px 3px 10px 0px grey;
        box-shadow: 0px 3px 10px 0px grey;
    }
}
.alertstar{
    button{
        width: 32px;
        margin: 0 !important;
        background-image: url(../assets/icon/star.png) !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        color: white !important;
        box-shadow: none !important;
        padding: 12px !important;
    }
    .alert-button-group{padding:0; margin-top: 10px; flex-direction: row; justify-content: space-around;}
    border-radius: 12px;
    .alert-wrapper{border-radius: 12px;}
}
.alert-checkbox-group button{
    background: #fff !important;
}