page-payment {
    .toolbar-background{
        background: $themecolor;
    }
    .toolbar-title {
        color: white;
    }
    .bar-button-default {
        color: #fff !important;
        background-color: transparent;
    }
    .toolbar-title {
        color: $themecolor !important;
    }
    .toolbar-background{
        background: #fff;
    }
    .menubtn {
        box-shadow: none !important;
        background: #fff !important;

    }
    .menubtn ion-icon{
        color: $themecolor !important;
    }
    button.back-button {
        background: #fff !important;
    }
    button.back-button ion-icon{
        color: $themecolor !important;
    }
}
