$themecolor: #38d345;
$themecolorw: #38d345;
page-forgotpassword {
  #forgotpswdpage ion-label {
    color: $themecolorw;
  }
  #forgotpswdpage ion-title .toolbar-title {
    color: $themecolorw;
    font-weight: 700;
    font-size: 24px;
  }
  #forgotpswdpage button {
    background-color: $themecolor;
    color: #fff;
    border-radius: 0px;
    box-shadow: unset;
    height: 48px;
  }
  #forgotpswdpage button span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
  }
  #forgotpswdpage span {
    color: $themecolorw;
    font-weight: 700;
    font-size: 17px;
  }
  #forgotpswdpage p {
    font-size: 17px;
    font-weight: 300;
    padding-bottom: 25px;
    margin-bottom: 0;
  }
  #forgotpswdpage ion-item .item-inner {
    border-bottom: 2px solid $themecolor;
  }
  #forgotpswdpage ion-spinner {
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    right: 10px;
    top:10px;
  }
   page-forgotpassword .scroll-content {
    overflow-y: hidden !important;
  }
  .colfaded:disabled{
    background-color: #c6ced8 !important;
  }
}
