<ion-header style="background-color: #184fa1;height: 265px;">
    <ion-navbar hideBackButton class="row navmenu m-0" style="width: 100%;max-width:100%;">
        <button ion-button class="col-1" (click)="closeModal()" style="float: left;background-color: transparent;">
          <ion-icon name="ios-close" class="menuicon" style="font-size:50px;"></ion-icon>
        </button>
        <ion-item class=" col-10  text-center p-0 homelobbytxt" style="font-size: 20px;">
          PUBLIC PROFILE
        </ion-item>
       </ion-navbar>
       <div style="width:100%;">
          <div class="profileimg p-0" >
              <img src="https://staging.pixxpros.com/web/resources/profile-pic.png" alt="" *ngIf="profileimgurl=='' || profileimgurl==null">
              <!-- <img src={{profilelist.thumbnail}} alt=""> -->
          </div>
       </div>
        <p  class="m-0" style="width: 50%;font-size: 20px;color: rgb(255, 255, 255);float: left;padding: 15px;">{{username}}</p>
        <p  class="m-0" style="width: 50%;font-size: 20px;color: rgb(255, 255, 255);float: right;text-align:right;padding: 15px;">Status: {{profilelist.memberProfileStatus}}</p>
</ion-header>


<ion-content padding>
    <ion-card class="homecard" style="margin-top:0;">
        <ion-card-content class="cardmain">
            <div>
            <p class="cardtxt" style="font-size: 17px !important;">All-Time Pick Results</p>
          </div>
          <div class="carddescription" >
            <p style="color: black;font-size: 17px;font-weight: 400;">Won-Loss-Push<span>ROI%</span></p>
            <p>{{profilelist.Won}}-{{profilelist.Lost}}-{{profilelist.Push}}<span>{{profilelist.userROI.value}}%<ion-icon *ngIf="profilelist.userROI!='' && profilelist.userROI.value!=0" name="ios-alert"  arrow positionV="top" style="color:#184fa1;padding-left: 5px;"></ion-icon></span></p>
          </div>
        </ion-card-content>
    </ion-card>
    <ion-card class="homecard" style="margin-top:0;">
        <ion-card-content class="cardmain">
          <div>
            <p class="cardtxt" style="width: 90%;font-size: 18px !important;">Trophies and Achievements</p>
          </div>
          <div class="">
            <div 3>
                <h2 style="font-weight: 300;padding-top: 30px;">No Trophies Found</h2>
            </div>
            <div class="col-3 p-2 float-left" *ngFor="let item of profilelist.memberAwards" style="position: relative;">
              <img src="./assets/imgs/badge1st.png" alt="" >
              <img src="./assets/imgs/badge2nd.png" alt="" >
              <img src="./assets/imgs/badge3rd.png" alt="" >
              <p class="trophytxt">{{item.Type}}</p>
              <p class="trophytxt" style="bottom: 10px;left: 0;width: 100%;">{{item.LeaguesType}}</p>
            </div>
          </div>
        </ion-card-content>
    </ion-card>
</ion-content>
